@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    overflow-x: hidden;

}



/* navbar starts*/


.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
    align-items: center;
}

.logo {
    height: 60px;
    z-index: 3;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 54px;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-size: 22px;

}

.primary-btn {
    background-color: #000;
    border: none;
    color: #fff;
    cursor: pointer;
}

.nav-btn {
    height: 62px;
    width: 134px;
    border-radius: 7px;
    font-size: 24px;
}

.hamburger-menu {
    display: none;
}

.nav-cross {
    display: none;
}

.mobile-nav-bar {
    display: none;
}


@media only screen and (max-width: 1600px) {
    .logo {
        height: 50px;
    }

    .nav-list {
        gap: 45px;
    }

    .nav-link {
        font-size: 18px;

    }


    .nav-btn {
        height: 51px;
        width: 111.5px;
        font-size: 20px;
    }

}

@media only screen and (max-width: 1450px) {
    .logo {
        height: 45px;
    }

    .nav-list {
        gap: 40px;
    }

    .nav-link {
        font-size: 16px;

    }


    .nav-btn {
        height: 66px;
        width: 100px;
        font-size: 18px;
    }

}

@media only screen and (max-width: 1030px) {
    .logo {
        height: 32px;
    }

    .nav-list {
        gap: 28px;
    }

    .nav-link {
        font-size: 11px;

    }


    .nav-btn {
        height: 47px;
        width: 71px;
        font-size: 13px;
    }

}



@media only screen and (max-width: 770px) {
    .logo {
        height: 40px;
    }

    .nav {
        padding: 32px 16px;
    }

    .nav-list {
        display: none;
    }


    .hamburger-menu {
        display: block;
    }

    .mobile-nav-bar {
        /* display: block; */
        /* position: fixed; */
        width: 100vw;
        height: 100vh;
        background-color: white;
        transition: ease-in 0.4s;

    }

    .mobile-nav-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 32px 16px;
    }

    .mobile-nav-link {
        text-decoration: none;
        color: black;
        font-size: 16px;
    }

    .mobile-nav-btn {
        width: 91vw;
        height: 48px;
        font-size: 16px;
        border-radius: 4px;
        padding: 12px;
    }

    .hide {
        display: none;
    }

    .show {
        display: block;
    }

}


/* navbar ends*/

/* hero section starts*/

section {
    margin-top: 40px;
}

.hero-section {
    margin-left: 64px;
    margin-right: 64px;
    display: flex;
    background-color: #F4F6F5;
    padding: 68px 82px 0px 82px;
    gap: 23px;
    border-radius: 59px;
    max-height: 852px;
    max-width: 1720px;
    overflow-y: hidden;

}

.hero-img-section {
    max-height: 784px;
    overflow: hidden;

}

.hero-img {
    max-width: 891px;

}


.hero-text-section {
    width: 35vw;
    /* height: 80vh; */
    display: flex;
    flex-direction: column;
    padding-top: 9px;
    padding-left: 40px;
    gap: 40px;

}

.hero-section-heading {
    overflow-y: hidden;
    font-size: 96px;
    line-height: 120px;
    /* padding: 16px; */
}

.hero-section-tagline {
    font-size: 32px;
    overflow: hidden;
}

.shop-now-btn {
    width: 220px;
    height: 76px;
    font-size: 30px;
    border-radius: 10px;
}

.text-bg-lets {
    position: relative;
    overflow-y: hidden;
    z-index: 0;
}

.text-bg-lets::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 555px;
    height: 90px;
    transform: translate(-50%, -50%) rotate(-2deg);
    z-index: -1;
    transform-origin: center;
    background: white;

}

.text-bg-unique {
    position: relative;
    overflow-y: hidden;
    z-index: 0;
}

.text-bg-unique::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 475px;
    height: 90px;
    transform: translate(-85%, -4%) rotate(-2deg);
    z-index: -1;
    transform-origin: center;
    background: #EBD96B;

}

@media only screen and (max-width: 1600px) {
    .hero-section {
        margin-left: 53px;
        margin-right: 53px;
        padding: 56px 68px 0px 56px;
        gap: 19px;
        border-radius: 49px;
        max-height: 710px;
        max-width: 1433px;

    }

    .hero-img-section {
        max-height: 653px;
        overflow: hidden;

    }

    .hero-img {
        max-width: 742.5px;

    }


    .hero-text-section {
        padding-top: 9px;
        padding-left: 33px;
        gap: 33px;

    }

    .hero-section-heading {
        overflow-y: hidden;
        font-size: 80px;
        line-height: 100px;
        /* padding: 16px; */
    }

    .hero-section-tagline {
        font-size: 26.5px;
        overflow: hidden;
    }

    .shop-now-btn {
        width: 183px;
        height: 63px;
        font-size: 25px;
        border-radius: 10px;
    }

}

@media only screen and (max-width: 1450px) {
    .hero-section {
        margin-left: 48px;
        margin-right: 48px;
        padding: 50px 61px 0px 50px;
        gap: 17px;
        border-radius: 45px;
        max-height: 640px;
        max-width: 1290px;

    }

    .hero-img-section {
        max-height: 588px;
        overflow: hidden;

    }

    .hero-img {
        max-width: 668px;

    }


    .hero-text-section {
        padding-top: 9px;
        padding-left: 30px;
        gap: 30px;

    }

    .hero-section-heading {
        overflow-y: hidden;
        font-size: 72px;
        line-height: 90px;
        /* padding: 16px; */
    }

    .hero-section-tagline {
        font-size: 23px;
        overflow: hidden;
    }

    .shop-now-btn {
        width: 164px;
        height: 57px;
        font-size: 20px;
        border-radius: 9px;
    }

}

@media only screen and (max-width: 1030px) {
    .hero-section {
        margin-left: 34px;
        margin-right: 34px;
        padding: 36px 43px 0px 36px;
        gap: 17px;
        border-radius: 45px;
        max-height: 640px;
        max-width: 1290px;

    }

    .hero-img-section {
        max-height: 420px;

    }

    .hero-img {
        max-width: 477px;

    }


    .hero-text-section {
        padding-top: 9px;
        padding-left: 21px;
        gap: 21px;

    }

    .hero-section-heading {
        font-size: 51px;
        line-height: 64px;
    }

    .hero-section-tagline {
        font-size: 16px;
    }

    .shop-now-btn {
        width: 117px;
        height: 41px;
        font-size: 14px;
        border-radius: 9px;
    }

    .text-bg-lets::before {
        width: 292px;
        height: 48px;
        transform: translate(-50%, -50%) rotate(-2deg);

    }

    .text-bg-unique::before {
        width: 250px;
        height: 48px;
        transform: translate(-94%, 4%) rotate(-2deg);

    }

}

@media only screen and (max-width: 1030px) {


    .hero-img-section {
        max-height: 315px;

    }

    .hero-img {
        max-width: 358px;

    }


    .hero-text-section {
        padding-top: 9px;
        padding-left: 21px;
        gap: 21px;

    }

    .hero-section-heading {
        font-size: 38px;
        line-height: 48px;
    }

    .hero-section-tagline {
        font-size: 12px;
    }



}


@media only screen and (max-width: 600px) {
    .hero-section {
        margin: 0 16px;
        padding: 8px 8px 0 0;
        border-radius: 24px;
        max-height: 176px;

    }

    .hero-img {
        margin-top: 22px;
        max-width: 174px;
    }

    .hero-section-heading {
        overflow-y: hidden;
        font-size: 20px;
        line-height: 24px;
        padding: 8px;
    }

    .text-bg-lets::before {
        width: 100px;
        height: 20px;
        transform: translate(-50%, -50%) rotate(-2deg);

    }

    .text-bg-unique::before {
        width: 100px;
        height: 20px;
        transform: translate(-94%, 4%) rotate(-2deg);

    }

    .hero-section-tagline {
        display: none;
    }

    .shop-now-btn {
        width: 80px;
        height: 34px;
        font-size: 12px;
        border-radius: 4px;
        margin-left: 8px;
    }

    .hero-img-section {
        max-height: 176px;

    }

    .hero-text-section {
        height: 150px;
        gap: 0px;
    }
}

@media only screen and (max-width: 375px) {
    .text-bg-unique::before {
        width: 100px;
        height: 20px;
        transform: translate(-40%, -60%) rotate(-2deg);

    }
}

@media only screen and (max-width: 325px) {
    .hero-section {
        max-height: 146px;

    }

    .hero-img {
        max-width: 146px;
    }


    .hero-img-section {
        max-height: 146px;

    }

    .hero-text-section {
        height: 125px;
        gap: 0px;
    }

    .hero-section-heading {

        font-size: 18px;
        line-height: 22px;
    }

    .shop-now-btn {
        width: 66px;
        height: 28px;
        font-size: 10px;

    }

    .text-bg-unique::before {
        transform: translate(-85%, -5%) rotate(-2deg);

    }
}

/* hero section--ends */

/* brand section starts*/
.brand-section {
    display: flex;
    align-items: center;
    background-color: #EBD96B;
    max-height: 186px;
    margin-top: 63px;
    padding: 0px 48px;
}



.brand-list {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
}

.brand-img {
    height: 57px;
}

.brand-item {
    list-style: none;
}



@media only screen and (max-width: 1600px) {

    .brand-section {
        height: 155px;
        margin-top: 52.5px;
        padding: 0px 40px;
    }

    .brand-img {
        height: 47px;
    }
}

@media only screen and (max-width: 1450px) {

    .brand-section {
        height: 135px;
        margin-top: 47px;
        padding: 0px 36.3px;
    }

    .brand-img {
        height: 42px;
    }
}

@media only screen and (max-width: 1450px) {

    .brand-section {
        height: 96px;
        margin-top: 33.5px;
        padding: 0px 26px;
    }

    .brand-img {
        height: 30px;
    }
}

@media only screen and (max-width: 600px) {

    .brand-list::-webkit-scrollbar {
        display: none;
    }

    .brand-section {
        height: 14vh;
        padding: 0px 16px;
        overflow-x: scroll;

    }

    .brand-list {
        padding: 0;
        overflow-x: scroll;
        gap: 16px;
    }

    .brand-item {
        overflow-x: visible;
    }

    .brand-img {
        max-height: 29px;
    }

}

/* brand section ends*/

/* new arrival starts*/

.new-arrival {
    padding: 0px 104px;
}

.heading {
    font-size: 48px;
}

.card-container {
    margin-top: 64px;
    display: flex;
    gap: 90px;
}


.card-img {
    max-width: 484px;
}



.card-info {
    /* padding: 0 16px; */
    max-width: 484px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-text {
    width: 70%;
}

.card-text h3 {
    font-weight: 500;
    font-size: 32px;
}

.card-text p {
    color: #7F7F7F;
    font-size: 24px;
}

@media only screen and (max-width:1600px) {
    .new-arrival {
        padding: 0px 86px;
    }

    .heading {
        font-size: 40px;
    }

    .card-container {
        margin-top: 53px;
        display: flex;
        gap: 75px;
    }


    .card-img {
        max-width: 403px;
    }

    .card-info {
        max-width: 403px;
    }


    .card-text h3 {
        font-size: 26px;
    }

    .card-text p {
        font-size: 20px;
    }

}

@media only screen and (max-width:1450px) {
    .new-arrival {
        padding: 0px 77px;
    }

    .heading {
        font-size: 33px;
    }

    .card-container {
        margin-top: 48px;
        display: flex;
        gap: 68px;
    }


    .card-img {
        max-width: 366px;
    }

    .card-info {
        max-width: 366px;
    }


    .card-text h3 {
        font-size: 23px;
    }

    .card-text p {
        font-size: 18px;
    }

}


@media only screen and (max-width:1030px) {
    .new-arrival {
        padding: 0px 55px;
    }

    .heading {
        font-size: 23px;
    }

    .card-container {
        margin-top: 34px;
        display: flex;
        gap: 48px;
    }


    .card-img {
        max-width: 261px;
    }

    .card-info {
        max-width: 261px;
    }


    .card-text h3 {
        font-size: 16px;
    }

    .card-text p {
        font-size: 13px;
    }


}

@media only screen and (max-width:770px) {
    .new-arrival {
        padding: 0px 55px;
    }

    .heading {
        font-size: 23px;
    }


    .card-img {
        max-width: 180px;
    }

    .card-info {
        max-width: 180px;
    }

    .card-text h3 {
        font-size: 13px;
    }

    .card-text p {
        font-size: 13px;
    }
}

@media only screen and (max-width: 600px) {
    .new-arrival {
        margin-top: 50px;
        padding: 0 16px;
    }

    .card-container {
        overflow-x: scroll;
        gap: 16px;
        margin-top: 16px;
    }

    .card-container::-webkit-scrollbar {
        display: none;
    }

    .card {
        width: 80%;
        overflow-x: visible;
    }

    .card-img-container {
        overflow-x: visible;
    }

    .card-img {
        width: 254px;
        overflow-x: visible;
    }

    .heading {
        font-size: 24px;
    }

    .card-text h3 {
        font-size: 16px;
    }

    .card-text p {
        font-size: 14px;
    }
}


/*new arrival ends */


/* payday ad starts */

.payday-section {
    overflow-y: hidden;
    margin-top: 120px;
    background-color: #EFD24B;
    width: 100vw;
    max-height: 968px;

}

.payday-container {
    display: flex;
    padding: 0 100px;
    padding-top: 87px;
    gap: 139px;
}

.payday-img-container {
    max-height: 881px;
    overflow-y: hidden;
}

.payday-img {
    width: 734px;

}

.payday-content-container {
    width: 35vw;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 40px;
    padding-left: 16px;
    padding-right: 100px;
}

.payday-content-container h1 {
    /* margin-top: 48px; */
    overflow-y: hidden;
    font-size: 111px;
    line-height: 137px;

}

.payday-content-container p {
    font-size: 36px;
}

.payday-content-container .offer-time-info {
    font-weight: 700;
}

.text-bg-payday {
    position: relative;
    overflow-y: hidden;
    z-index: 0;
}

.text-bg-payday::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 455px;
    height: 95px;
    transform: translate(-50%, -50%) rotate(-2deg);
    z-index: -1;
    transform-origin: center;
    background: white;
}

@media only screen and (max-width: 1600px) {
    .payday-section {
        margin-top: 100px;
        max-height: 806px;

    }

    .payday-container {
        padding: 0 83px;
        padding-top: 72.5px;
        gap: 116px;
    }

    .payday-img-container {
        max-height: 734px;
        overflow-y: hidden;
    }

    .payday-img {
        width: 611.5px;

    }

    .payday-content-container {
        gap: 26.5px;
        margin-top: 33px;
        padding-left: 13px;
        padding-right: 83px;
    }

    .payday-content-container h1 {
        font-size: 92.5px;
        line-height: 114px;

    }

    .payday-content-container p {
        font-size: 30px;
    }

}

@media only screen and (max-width: 1450px) {
    .payday-section {
        margin-top: 91px;
        max-height: 732px;

    }

    .payday-container {
        padding: 0 75px;
        padding-top: 67px;
        gap: 105px;
    }

    .payday-img-container {
        margin-top: 72px;
        max-height: 661px;

    }

    .payday-img {
        width: 550px;

    }

    .payday-content-container {
        gap: 23px;
        margin-top: 30px;
        padding-left: 12px;
        padding-right: 75px;
    }

    .payday-content-container h1 {
        font-size: 88px;
        line-height: 103px;

    }

    .payday-content-container p {
        font-size: 27px;
    }

}

@media only screen and (max-width: 1030px) {
    .payday-section {
        margin-top: 65px;
        max-height: 500px;

    }

    .payday-container {
        padding: 0 53px;
        padding-top: 49px;
        gap: 75px;
    }

    .payday-img-container {
        margin-top: 30px;
        max-height: 472px;
        overflow-y: hidden;
    }

    .payday-img {
        width: 393px;

    }

    .payday-content-container {
        gap: 16px;
        margin-top: 8px;
        padding-left: 8px;
        padding-right: 45px;
    }

    .payday-content-container h1 {
        width: 27vw;
        font-size: 41px;
        line-height: 56px;

    }

    .payday-content-container p {
        font-size: 16px;
    }

    .text-bg-payday::before {
        width: 242px;
        height: 50px;
        transform: translate(-50%, -50%) rotate(-2deg);
    }
}


@media only screen and (max-width: 600px) {
    .payday-section {
        margin-top: 50px;
        padding: 0 20px;
        max-height: 190px;

    }

    .payday-container {
        margin-top: 1px;
        padding: 0;
        /* padding-bottom: 8px; */
        gap: 35px;


    }

    .payday-img-container {
        margin-top: 0px;
        max-width: 151px;

    }

    .payday-img {
        padding-top: 38px;
        max-width: 140px;
    }

    .payday-content-container {
        margin-top: 13px;
        padding-right: 16px;
    }

    .payday-content-container h1 {
        width: 33vw;
        font-size: 20px;
        line-height: 30px;

    }

    .text-bg-payday::before {
        width: 90px;
        height: 30px;
    }

    .payday-content-container p {
        font-size: 8px;
    }

    .payday-content-container {
        width: 40vw;
        gap: 8px;
    }
}


@media only screen and (max-width: 770px) {
    .payday-content-container h1 {
        width: 30vw;
    }
}

@media only screen and (max-width: 325px) {
    .payday-content-container h1 {
        width: 40vw;
    }
}




/* payday ad ends */

/* young favorite starts */
.favourites-card-img {
    max-width: 834px;
}


.favourites-card-info {
    max-width: 834px;
    padding: 0;
}

.favourites-section {
    margin-top: 120px;
    padding: 0px 100px;
}

.favourites-section .card-container {

    gap: 48px;
    /* margin-top: 16px; */
}

@media only screen and (max-width: 1600px) {
    .favourites-card-img {
        max-width: 695px;
    }


    .favourites-card-info {
        max-width: 695px;
    }

    .favourites-section {
        margin-top: 100px;
        padding: 0px 83px;
    }

    .favourites-section .card-container {

        gap: 40px;
        /* margin-top: 16px; */
    }
}

@media only screen and (max-width: 1450px) {
    .favourites-card-img {
        max-width: 631px;
    }


    .favourites-card-info {
        max-width: 631px;
    }

    .favourites-section {
        margin-top: 91px;
        padding: 0px 75px;
    }

    .favourites-section .card-container {

        gap: 36px;
        /* margin-top: 16px; */
    }
}

@media only screen and (max-width: 1030px) {
    .favourites-card-img {
        max-width: 450px;
    }


    .favourites-card-info {
        max-width: 450px;
    }

    .favourites-section {
        margin-top: 65px;
        padding: 0px 53px;
    }

    .favourites-section .card-container {

        gap: 26px;
        /* margin-top: 16px; */
    }
}

@media only screen and (max-width: 770px) {
    .favourites-card-img {
        max-width: 310px;
    }


    .favourites-card-info {
        max-width: 310px;
    }

    .favourites-section {
        margin-top: 65px;
        padding: 0px 60px;
    }

    .favourites-section .card-container {

        gap: 26px;
        /* margin-top: 16px; */
    }
}

@media only screen and (max-width: 600px) {
    .favourites-section {
        margin-top: 60px;
        padding: 0 16px;
    }

    .favourites-section .card-container {
        overflow-x: scroll;
        gap: 48px;
        margin-top: 16px;
    }

    .card-container::-webkit-scrollbar {
        display: none;
    }

    .favourites-container {
        overflow-x: scroll;
    }


    .favourites-card {
        width: 80%;
        overflow-x: visible;
    }

    .favourites-card-img-container {
        overflow-x: visible;
    }

    .favourites-card-img {
        width: 310px;
        overflow-x: visible;
    }

    .card {
        width: 100%;
        overflow-x: visible;
    }

    .heading {
        font-size: 24px;
    }

    .card-text h3 {
        font-size: 16px;
    }

    .card-text p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 325px) {

    .favourites-section .card-container {

        gap: 43px;
    }

    .favourites-card-img {
        width: 260px;

    }
}

/* young favorite ends */

/*mobile app starts */

.mobile-app-section {
    margin-top: 120px;
    padding: 0px 220px;
}

.mobile-app-container {
    width: 100vw;
    display: flex;
    gap: 308px;
    align-items: center;
}

.mobile-app-info-container {
    width: 26vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mobile-app-info-container p {
    font-size: 24px;
    color: #7C7C7C;
}

.download-icons {
    display: flex;
    gap: 16px;
}

.mobile-app-img {
    max-width: 670px;
}

@media only screen and (max-width: 1600px) {
    .mobile-app-section {
        margin-top: 100px;
        padding: 0px 183px;
    }

    .mobile-app-container {
        gap: 256px;
    }

    .mobile-app-info-container {
        gap: 25px;
    }

    .mobile-app-info-container p {
        font-size: 20px;
    }

    .download-icons {
        gap: 13px;
    }

    .mobile-app-img {
        max-width: 558px;
    }
}

@media only screen and (max-width: 1450px) {
    .mobile-app-section {
        margin-top: 91px;
        padding: 0px 166px;
    }

    .mobile-app-container {
        gap: 231px;
    }

    .mobile-app-info-container {
        gap: 23px;
    }

    .mobile-app-info-container p {
        font-size: 18px;
    }

    .download-icons {
        gap: 12px;
    }

    .mobile-app-img {
        max-width: 503px;
    }
}

@media only screen and (max-width: 1030px) {
    .mobile-app-section {
        margin-top: 65px;
        padding: 0px 118.5px;
    }

    .mobile-app-container {
        gap: 165px;
    }

    .mobile-app-info-container {
        gap: 16px;
    }

    .mobile-app-info-container p {
        font-size: 13px;
    }

    .download-icons {
        gap: 8px;
    }

    .mobile-app-img {
        max-width: 359px;
    }
}


@media only screen and (max-width: 770px) {
    .mobile-app-section {
        margin-top: 80px;
        padding: 0px 16px;
    }

    .mobile-app-container {
        display: block;
        justify-content: center;
    }

    .mobile-app-img {
        display: none;
    }

    .mobile-app-info-container {
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .mobile-app-info-container p {
        font-size: 16px;
        width: 40%;
        /* text-align: center; */
    }

    .mobile-app-info-container .heading {
        width: 40%;
        /* text-align: center; */
        overflow: hidden;
        font-size: 24px;
        line-height: 30px;
    }

    /* .download-icons {
        width: 270px;
    } */

    .store-icon {
        max-height: 60px;
    }




}


@media only screen and (max-width: 600px) {
    .mobile-app-section {
        margin-top: 80px;
        padding: 0px 16px;
    }

    .mobile-app-container {
        display: block;
        justify-content: center;
    }

    .mobile-app-img {
        display: none;
    }

    .mobile-app-info-container {
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .mobile-app-info-container p {
        width: 60%;
        font-size: 12px;
    }

    .mobile-app-info-container .heading {
        width: 60%;
        font-size: 20px;
        line-height: 30px;
    }

    /* .download-icons {
        width: 270px;
    } */

    .store-icon {
        max-height: 43px;
    }




}

/*mobile app ends */

/* newsletter starts*/
.news-letter-section {
    margin-top: 120px;
    /* padding: 0px 64px; */
    width: 100vw;
    height: 57vh;
    color: #fff;
    background-color: #E5C643;
    display: flex;
    justify-content: center;
    align-items: center;

}

.news-letter-container {
    max-width: 52vw;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.news-letter-container .heading {
    width: 51vw;
    text-align: center;
    font-size: 55px;
    line-height: 70px;
    overflow-y: hidden;
}

.news-letter-container p {
    font-size: 32px;
}

.send-container {
    width: 574px;
    height: 87px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0 8px;
}

.send-container input {
    width: 450px;
    font-size: 24px;
    border: none;
}

.send-container input:focus {
    outline: none;
}

.send-btn {
    width: 161px;
    height: 67px;
    border-radius: 10px;
    font-size: 33px;
}

@media only screen and (max-width: 1600px) {
    .news-letter-section {
        margin-top: 100px;

    }

    .news-letter-container {
        display: flex;
        gap: 13px;
    }

    .news-letter-container .heading {

        font-size: 45px;
        line-height: 58px;
        overflow-y: hidden;
    }

    .news-letter-container p {
        font-size: 26px;
    }

    .send-container {
        width: 478px;
        height: 72.5px;
    }

    .send-container input {
        width: 375px;
        font-size: 20px;

    }

    .send-btn {
        width: 134px;
        height: 59px;
        font-size: 27px;
    }
}

@media only screen and (max-width: 1450px) {
    .news-letter-section {
        margin-top: 91px;

    }

    .news-letter-container {
        display: flex;
        gap: 12px;
    }

    .news-letter-container .heading {
        font-size: 41px;
        line-height: 53px;
    }

    .news-letter-container p {
        font-size: 23px;
    }

    .send-container {
        width: 431px;
        height: 65px;
    }

    .send-container input {
        width: 332px;
        font-size: 18px;

    }

    .send-btn {
        width: 121px;
        height: 54px;
        font-size: 25px;
    }
}

@media only screen and (max-width: 1030px) {
    .news-letter-section {
        margin-top: 65px;

    }

    .news-letter-container {
        display: flex;
        gap: 8px;
    }

    .news-letter-container .heading {
        font-size: 29px;
        line-height: 38px;
    }

    .news-letter-container p {
        font-size: 16px;
    }

    .send-container {
        width: 307px;
        height: 46px;
    }

    .send-container input {
        width: 237px;
        font-size: 13px;

    }

    .send-btn {
        width: 86px;
        height: 38.5px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 1030px) {
    .news-letter-section {
        margin-top: 55px;

    }

    .news-letter-container {
        display: flex;
        gap: 8px;
    }

    .news-letter-container .heading {
        font-size: 25px;
        line-height: 33px;
    }

    .news-letter-container p {
        font-size: 13px;
    }

    .send-container {
        width: 307px;
        height: 46px;
    }

    .send-container input {
        width: 237px;
        font-size: 13px;

    }

    .send-btn {
        width: 75px;
        height: 35px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 600px) {

    .news-letter-section {
        margin-top: 80px;
        height: 254px;
    }

    .news-letter-container {
        max-width: 375px;
    }

    .news-letter-container .heading {
        width: 80vw;
        font-size: 20px;
        line-height: 30px;
    }

    .news-letter-container p {
        width: 60%;
        font-size: 12px;
        text-align: center;
    }

    .send-container {
        width: 337px;
        height: 50px;
        border-radius: 8px;
    }

    .send-btn {
        width: 60px;
        height: 34px;
        border-radius: 4px;
        font-size: 12px;
        padding: 8px;
    }

    .send-container input {
        width: 337px;
        font-size: 14px;

    }

}

@media only screen and (max-width: 325px) {
    .send-container {
        width: 280px;
    }

    .send-container input {
        width: 280px;
        font-size: 12px;

    }
}

/* newsletter ends*/

/*footer starts*/

.footer {
    /* padding: 119px 100px; */
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 504px;

}

.links-container {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.links-container p {
    font-size: 24px;
}

.links-container ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
}

.links-container li {
    list-style: none;
}

.links-container a {
    text-decoration: none;
    color: #8E8E8E;
    font-size: 24px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.social-links-container {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.social-links-container h1 {
    font-size: 40px;
}

.social-links-container p {
    color: #7C7C7C;
    font-size: 24px;
}

.social-links {
    display: flex;
    gap: 8px;
}

. @media only screen and (max-width: 1600px) {
    .social-links-container h1 {
        font-size: 33px;
    }

    .social-links-container p {
        font-size: 20px;
    }

    .links-container a {
        font-size: 20px;
    }

    .links-container p {
        font-size: 20px;
    }

}

@media only screen and (max-width: 1450px) {
    .social-links-container h1 {
        font-size: 30px;
    }

    .social-links-container p {
        font-size: 18px;
    }

    .links-container a {
        font-size: 18px;
    }

    .links-container p {
        font-size: 18px;
    }

}

@media only screen and (max-width: 770px) {
    .footer {
        height: auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 24px 16px;
        gap: 64px;
    }

    .social-links-container {
        width: 100%;
    }

    .social-links-container h1 {
        font-size: 24px;
    }

    .social-links-container p {
        font-size: 14px;
    }



    .links-container {
        flex-direction: column;
        gap: 32px;
    }

    .links-container a {
        font-size: 14px;
    }

    .links-container p {
        font-size: 14px;
    }
}

/*footer ends*/