@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    overflow-x: hidden;

}



/* navbar starts*/


.nav {
    display: flex;
    justify-content: space-between;
    padding: 16px 64px;
    align-items: center;
}

.logo {
    height: 60px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 54px;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-size: 16px;

}

.primary-btn {
    background-color: #000;
    border: none;
    color: #fff;
    cursor: pointer;
}

.nav-btn {
    height: 62px;
    width: 134px;
    border-radius: 7px;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .logo {
        height: 40px;
    }

    .nav {
        padding: 32px 16px;
    }

    .nav-list {
        display: none;
    }
}

/* navbar ends*/

/* hero section starts*/

section {
    margin-top: 40px;
}

.hero-section {
    margin-left: 64px;
    margin-right: 64px;
    display: flex;
    background-color: #F4F6F5;
    padding: 64px 64px 0px 64px;
    justify-content: space-evenly;
    border-radius: 59px;
    max-height: 864px;
    overflow-y: hidden;

}

.hero-img-section {
    height: 627px;
    overflow: hidden;

}

.hero-img {
    max-width: 710px;
}


.hero-text-section {
    width: 30vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 16px 0px;
    gap: 24px;

}

.hero-section-heading {
    overflow-y: hidden;
    font-size: 80px;
    line-height: 88px;
    padding: 16px;
}

.hero-section-tagline {
    font-size: 22px;
    overflow: hidden;
}

.shop-now-btn {
    width: 220px;
    height: 76px;
    font-size: 30px;
    border-radius: 10px;
}

.text-bg-lets {
    position: relative;
    overflow-y: hidden;
    z-index: 0;
}

.text-bg-lets::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 555px;
    height: 90px;
    transform: translate(-50%, -50%) rotate(-2deg);
    z-index: -1;
    transform-origin: center;
    background: white;

}

.text-bg-unique {
    position: relative;
    overflow-y: hidden;
    z-index: 0;
}

.text-bg-unique::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 475px;
    height: 90px;
    transform: translate(-85%, -4%) rotate(-2deg);
    z-index: -1;
    transform-origin: center;
    background: #EBD96B;

}

@media only screen and (max-width: 600px) {
    .hero-section {
        margin: 0 16px;
        padding: 8px 8px 0 8px;
        border-radius: 24px;
    }

    .hero-img {
        max-width: 200px;
    }

    .hero-section-heading {
        overflow-y: hidden;
        font-size: 20px;
        line-height: 24px;
        padding: 8px;
    }

    .text-bg-lets::before {
        width: 100px;
        height: 20px;
        transform: translate(-50%, -50%) rotate(-2deg);
        z-index: -1;
        transform-origin: center;
        background: white;

    }

    .text-bg-unique::before {
        width: 100px;
        height: 20px;
        transform: translate(-94%, 4%) rotate(-2deg);

    }

    .hero-section-tagline {
        display: none;
    }

    .shop-now-btn {
        width: 80px;
        height: 34px;
        font-size: 12px;
        border-radius: 4px;
        margin-left: 8px;
    }

    .hero-img-section {
        height: 180px;

    }

    .hero-text-section {
        height: 150px;
        gap: 0px;
    }
}

/* hero section--ends */

/* brand section starts*/
.brand-section {
    display: flex;
    align-items: center;
    background-color: #EBD96B;
    height: 24vh;
    margin-top: 40px;
    padding: 0px 48px;
}



.brand-list {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
}

.brand-item {
    list-style: none;
}

@media only screen and (max-width: 600px) {


    .brand-section {
        height: 14vh;
        padding: 0px 16px;
        overflow-x: scroll;
    }

    .brand-list {
        padding: 0;
        overflow-x: scroll;
        gap: 16px;
    }

    .brand-item {
        overflow-x: visible;
    }

    .brand-img {
        width: 60px;
    }

}

/* brand section ends*/

/* new arrival starts*/

.new-arrival {
    padding: 0px 64px;
}

.heading {
    font-size: 48px;
}

.card-container {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}


.card-img {
    max-width: 385px;
}



.card-info {
    padding: 0 16px;
    max-width: 425px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-text h3 {
    font-weight: 500;
}

.card-text p {
    color: #7F7F7F;
}



/*new arrival ends */


/* payday ad starts */

.payday-section {
    overflow-y: hidden;
    margin-top: 120px;
    background-color: #EFD24B;
    width: 100vw;
    max-height: 968px;

}

.payday-container {
    display: flex;
    padding: 0 64px;
    padding-top: 64px;
    justify-content: space-evenly;
}

.payday-img-container {
    max-height: 720px;
    overflow-y: hidden;
}

.payday-img {
    width: 670px;

}

.payday-content-container {
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-left: 16px;
}

.payday-content-container h1 {
    /* margin-top: 48px; */
    overflow-y: hidden;
    font-size: 96px;
    line-height: 120px;

}

.payday-content-container p {
    font-size: 32px;
}

.payday-content-container .offer-time-info {
    font-weight: 700;
}

.text-bg-payday {
    position: relative;
    overflow-y: hidden;
    z-index: 0;
}

.text-bg-payday::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 455px;
    height: 95px;
    transform: translate(-50%, -50%) rotate(-2deg);
    z-index: -1;
    transform-origin: center;
    background: white;
}

/* payday ad ends */

/* young favorite starts */
.favourites-card-img {
    max-width: 635px;
}


.favourites-card-info {
    max-width: 635px;
    padding: 0;
}


.favourites-section {
    margin-top: 120px;
    padding: 0px 64px;
}

/* young favorite ends */

/*mobile app starts */

.mobile-app-section {
    margin-top: 120px;
    padding: 0px 64px;
}

.mobile-app-container {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mobile-app-info-container {
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mobile-app-info-container p {
    font-size: 24px;
    color: #7C7C7C;
}

.download-icons {
    display: flex;
    gap: 16px;
}

.mobile-app-img {
    width: 670px;
}

/*mobile app ends */

/* newsletter starts*/
.news-letter-section {
    margin-top: 120px;
    /* padding: 0px 64px; */
    width: 100vw;
    height: 70vh;
    color: #fff;
    background-color: #E5C643;
    display: flex;
    justify-content: center;
    align-items: center;

}

.news-letter-container {
    max-width: 57vw;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.news-letter-container .heading {
    padding: 8px;
    text-align: center;
    line-height: 70px;
}

.news-letter-container p {
    font-size: 27px;
}

.send-container {
    width: 380px;
    height: 58px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0 8px;
}

.send-container input {
    width: 150px;
    border: none;
}

.send-container input:focus {
    outline: none;
}

.send-btn {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
}

/* newsletter ends*/

/*footer starts*/

.footer {
    padding: 32px 64px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vh;

}

.links-container {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.links-container ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
}

.links-container li {
    list-style: none;
}

.links-container a {
    text-decoration: none;
    color: #8E8E8E;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.social-links-container {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.social-links-container h1 {
    font-size: 40px;
}

.social-links-container p {
    color: #7C7C7C;
    font-size: 20px;
}

.social-links {
    display: flex;
    gap: 8px;
}

@media only screen and (max-width: 600px) {
    .footer {
        height: auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 24px 16px;
        gap: 64px;
    }

    .social-links-container {
        width: 100%;
    }

    .social-links-container h1 {
        font-size: 24px;
    }

    .social-links-container p {
        font-size: 14px;
    }

    .links-container {
        flex-direction: column;
        gap: 32px;
    }
}

/*footer ends*/